<%= form_with(model:@blog, local:true, url: choose_new_or_edit ) do |form| %>

  <% if @blog.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4><%= @blog.errors.count %>件エラーが発生しました</h4>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="new_post">
    <table class="blog_form">
      <tr>
        <td>
          <h5>TITLE</h5>
          <%= form.text_field :title, class:'blog_input' %>
        </td>
      </tr>
      <tr>
        <td>
          <h5>CONTENT</h5>
          <%= form.text_area :content, class:'blog_input',:size => "60x5" %>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Image</h5>
          <%= image_tag(@blog.image.url) if @blog.image.url %>
          <%= form.file_field :image, id: :blog_image %>
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn_center">
            <%= form.submit 'N E X T', class:'btn btn-default' %>
          </div>
        </td>
      </tr>
    </table>
  </div>

<% end %>

<h5 class="text-center"><%= link_to "Go to ARCHIVES", blogs_path %></h4>
