<section class="section">
<div class="container">

<h2 class="text-center title">ARCHIVES</h2>
  <p><%= notice %></p>
		<div class="row">
    <% @blogs.reverse_each do |blog| %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3><%= blog.title %></h3>
						<p><%= blog.content.truncate(20) %></p>
						<p>
						  <%= link_to 'DETAIL', blog_path(blog.id), class: 'btn btn-default' %>
              <%= link_to 'EDIT', edit_blog_path(blog.id),class:'btn btn-default' %>
              <%= link_to 'DELETE', blog_path(blog.id), method: :delete, data:{confirm: '削除しますか？'},class:'btn btn-primary'%>
						</p>
					</div>
				</div>
			</div>
    <% end %>
    </div>

</div>
</section>